@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  font-family: 'GowunDodum-Regular';
}

body {
  background-color: #FFB69F;
}

h2,
fieldset,
textarea,
button {
  margin: 0;
  padding: 0;
}

fieldset,
textarea,
button {
  border: none;
}

textarea,
button {
  background: transparent;
}

textarea {
  /* width: 85%; */
  padding: 10px;
  resize: none;
  outline: none;
}

textarea:focus {
  border: 2px solid #FFB69F;;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.memo {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.memo-form {
  width: 300px;
  min-height: 300px;
  border: 2px solid #FFB69F;;
  border-radius: 10px;
  padding: 10px;
}

.input button {
  float: right;
  font-size: 24px;
}